<div *ngIf="single == undefined">
  <div class="alert alert-info" role="alert">
    Selecciona una fecha para poder mostrar estadísticas.
  </div>
</div>

<ngx-charts-pie-chart *ngIf="single?.length > 0"
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [gradient]="gradient"
  [legend]="showLegend"
  [legendPosition]="legendPosition"
  [labels]="showLabels"
  [doughnut]="isDoughnut"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  >
</ngx-charts-pie-chart>
