<h5>Registrar notas</h5>
<h4 class="card-title">
  <a class="btn btn-light" (click)="regresar()">&laquo; regresar</a>
</h4>
<hr>
<div class="d-flex">
    <form [formGroup]="form" (ngSubmit)="enviar(form.value)">
        <div formArrayName="lessons" class="">
            
            <div *ngFor="let lessonForm of lessons.controls">
                <div [formGroup]="lessonForm" class="d-flex col-12">
                    <div class="col-4">
                        <input type="text" formControlName="nombreEstudiante"  class="form-control" placeholder="Escribe algo aquí">
                    </div>
                    <div class="col-1">
                        <input type="text" formControlName="bimestre1"  class="form-control" placeholder="Escribe algo aquí">
                    </div>
                    <div class="col-1">
                        <input type="text" formControlName="bimestre2" class="form-control" placeholder="Escribe algo aquí">
                    </div>
                    <div class="col-1">
                        <input type="text" formControlName="bimestre3" class="form-control" placeholder="Escribe algo aquí">
                    </div>
                    
                    <div class="col-1">
                        <input type="text" formControlName="bimestre4" class="form-control" placeholder="Escribe algo aquí">
                    </div>
                    <div class="col-1">
                        <input type="text" formControlName="promedioFinal" class="form-control" placeholder="Escribe algo aquí">
                    </div>
                    
                </div>
            </div>
        </div>
        <div >
        </div>
        
    
    <button class="btn btn-primary" type="submit">Guardar notas</button>
    </form>
</div>


<!-- <table class="table table-bordered">
    <thead>
        <tr>
            <th>NOMBRES Y APELLIDOS</th>
            <th>BIMESTRE 1</th>
            <th>BIMESTRE 2</th>
            <th>BIMESTRE 3</th>
            <th>BIMESTRE 4</th>
            <th>PROMEDIO</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let estudiante of estudiantes">
            <td >
                {{estudiante.nombres}} {{estudiante.apellidoPaterno}} {{estudiante.apellidoMaterno}}
            </td>

            <td>
                
            </td>
            
        </tr>

           
    </tbody>
  </table>

  <button class="btn btn-primary" >Guardar Notas</button> -->