<div class="container-login">
<div class="d-flex">
    <div class="col-8 d-flex justify-content-center">
        <img src="../../assets/logo_entrada.png" width="500px" height="450px" style="margin-top: 130px;" alt="">
    </div>
    <div class="col-4 d-flex justify-content-center align-items-center">
        <div class="card" style="width: 22vw; height: 80vh;">
            <div class="text-center mt-4">
                <img src="../../assets/logo_entrada.png" width="150px" height="130" alt="">
            </div>
            <div class="text-center mt-3">
                <h5 class="fw-bold">Inicio de sesión</h5>
            </div>
            <form>
                <div class="px-4 my-3">
                    <label for="username" class="input-label fw-bold">DNI</label>
                    <input type="text" class="form-control" name="username" [(ngModel)]="loginUsuario.username">
                </div>
                <div class="px-4 mb-3">
                    <label for="password" class="input-label fw-bold">Contraseña</label>
                    <input type="password" name="password" class="form-control" [(ngModel)]="loginUsuario.password">
                </div>

                <div class=" px-4 alert mb-3 text-danger fw-bold" role="alert" *ngIf="!isLogged">
                    {{errorMensaje}}
                  </div>
                <div class="px-4 mb-3 d-grid">
                <button class="btn btn-block" (click)="onLogin()">Iniciar sesión</button>
                <button class="btn btn-block mt-2">Recuperar contraseña</button>
                </div>
                
            </form>
        </div>
    </div>
</div>
</div>

