<div class="card">
            
<div class="card-body">
      <div class="d-flex flex-wrap justify-content-between">
        
        <div class="col-3">
          <div class="d-flex">
            <span class="ps-2 pb-1 col-10">
              Profesor(a)
            </span>
            <div class=" px-3 py-1  col-2 ">
             
            </div>
          </div>
          <div class="d-flex border">
            <div class="py-1 text-center col-2 border-end">
              <i class="fas fa-user-tie"></i>
            </div>
            <div class=" px-3 py-1 col-10 ">
             <span>{{clase.empleado?.nombres.split(' ')[0]}} {{clase.empleado?.apellidoPaterno}}</span>
            </div>
          </div>

        </div>

        <div class="col-3">
          <div class="d-flex">
            <span class="ps-2 pb-1 col-10">
              Turno
            </span>
            <div class=" px-3 py-1  col-2 ">
             
            </div>
          </div>
          <div class="d-flex border">
            <div class=" py-1 border-end text-center col-2">
              <i class="far fa-sun "></i>
            </div>
            <div class=" px-3 py-1  col-10 ">
             <span>MAÑANA</span>
            </div>
          </div>

        </div>
        <div class="col-3">
          <div class="d-flex">
            <span class="ps-2 pb-1 col-10">
              Nivel
            </span>
            <div class=" px-3 py-1  col-2 ">
             
            </div>
          </div>
          <div class="d-flex border">
            <div class="py-1 border-end text-center col-2">
              <i class="fas fa-cubes"></i>
            </div>
            <div class=" px-3 py-1 col-10">
             <span>PRIMARIA</span>
            </div>
          </div>

        </div>
        <div class="col-3">
          <div class="d-flex">
            <span class="ps-2 pb-1 col-10">
              Aula
            </span>
            <div class=" px-3 py-1  col-2 ">
             
            </div>
          </div>
          <div class="d-flex border">
            <div class=" py-1 border-end text-center col-2">
              <i class="fab fa-dashcube"></i>
            </div>
            <div class=" px-3 py-1 col-10">
             <span>P1GS1</span>
            </div>
          </div>

        </div>

      </div>

      <div class="d-flex justify-content-between">
        <h5 class="mt-3">{{clase?.curso?.nombre}}</h5>     
        <div class="d-flex align-items-end">
          <button [routerLink]="[ 'asistencias' ]" class="btn btn-outline-primary btn-sm py-0 mb-2">Marcar asistencia</button>
          <h4 class="">
            <a (click)="regresar()" class="btn btn-light">&laquo;</a>
          </h4>  
        </div>
      </div>

    
    <hr class="mt-0">

    <div class="col-12 d-flex pt-3">
        <div class="col-5 " >
            <p>Alumnos del aula P1GS1</p>
            <div class="overflow-auto" style="height: 60vh;">
            <ul class="list-group list-group-flush" *ngIf="listaEstudiantes.length > 0">
                <div class="card">
                  <ul class="list-group list-group-flush">
                    <li *ngFor="let estudiante of listaEstudiantes"
                      class="list-group-item " style="font-size: 13px;">
                      {{estudiante.nombres}}
                      {{ estudiante.apellidoPaterno }}
                      {{ estudiante.apellidoMaterno }}
                    </li>
                  </ul>
                </div>
              </ul>
            </div>
        </div>
        <div class="col-4">
          <div class="d-flex justify-content-between">
            <p class="px-4 col-6">Materiales</p>
            <p class="col-6">
              <button class="btn btn-outline-primary btn-sm py-0 float-end">Subir Archivo</button>
            </p>
            
          </div>
          
          <div class="ms-4 overflow-auto" style="height: 60vh;">
            <div>
              <span>Present Continuous - 18/07/21</span>
              <div class="d-flex">
                <span style="color: rgb(54, 103, 238);">Ingles_semana01.pdf</span>
              </div>
              <hr class="mt-0 ">
            </div>
            <div >
              <span>Articles - 10/08/21</span>
              <div class="d-flex">
                <span style="color: rgb(54, 103, 238);">Ingles_semana02.pdf</span>
              </div>
              <hr class="mt-0 ">
            </div>
            <div >
              <span>Modal Verb - 12/08/21</span>
              <div class="d-flex">
                <span style="color: rgb(54, 103, 238);">Ingles_semana03.pdf</span>
              </div>
              <hr class="mt-0 ">
            </div>
            <div >
              <span>Present Simple - 14/08/21</span>
              <div class="d-flex">
                <span style="color: rgb(54, 103, 238);">Ingles_semana04.pdf</span>
              </div>
              <hr class="mt-0 ">
            </div>
            <div >
              <span>Present Simple - 14/08/21</span>
              <div class="d-flex">
                <span style="color: rgb(54, 103, 238);">Ingles_semana04.pdf</span>
              </div>
              <hr class="mt-0 ">
            </div>
            <div >
              <span>Present Simple - 14/08/21</span>
              <div class="d-flex">
                <span style="color: rgb(54, 103, 238);">Ingles_semana04.pdf</span>
              </div>
              <hr class="mt-0 ">
            </div>
            <div >
              <span>Present Simple - 14/08/21</span>
              <div class="d-flex">
                <span style="color: rgb(54, 103, 238);">Ingles_semana04.pdf</span>
              </div>
              <hr class="mt-0 ">
            </div>
            <div >
              <span>Present Simple - 14/08/21</span>
              <div class="d-flex">
                <span style="color: rgb(54, 103, 238);">Ingles_semana04.pdf</span>
              </div>
              <hr class="mt-0 ">
            </div>
          </div>
        </div>
        <div class="col-3">
          <p class="px-4">Horario</p>
          <div class="ms-4" >
                <div *ngFor="let frecuencia of clase.frecuencias">
                  <span>{{frecuencia.dia.nombre}}</span>
                  <div class="d-flex">
                    <span>{{frecuencia.horario_inicio}} </span>
                    <span class="mx-1"> a </span>
                    <span> {{frecuencia.horario_fin}}</span>
                  </div>
                  <hr class="mt-0 ">
                </div>
                <div class="px-4">
                </div>
          </div>
    </div>
</div>
</div>