
    <ul class="alert alert-danger" *ngIf="errores?.length > 0">
        <li *ngFor="let error of errores" class="ms-4">{{ error }}</li>
    </ul>
<div class="card mb-5">
    <div class="card-header ">Crear Docente</div>
    <h4 class="card-title">
        <a [routerLink]="['/dashboard/empleados']" class="btn btn-light">&laquo; regresar</a>
    </h4>
    <div class="card-body">
        <div class="row">
            <div class="form-group col-sm-4">
                <label for="nombres" class="input-label">Nombres</label>
                <input type="text" class="form-control" name="nombres" [(ngModel)]="empleado.nombres">
            </div>
            <div class="form-group col-sm-4">
                <label for="apellidoPaterno" class="input-label">Apellido Paterno</label>
                <input type="text" class="form-control" name="apellidoPaterno" [(ngModel)]="empleado.apellidoPaterno">
            </div>
            <div class="form-group col-sm-4">
                <label for="apellidoMaterno" class="input-label">Apellido Materno</label>
                <input type="text" class="form-control" name="apellidoMaterno" [(ngModel)]="empleado.apellidoMaterno">
            </div>
        </div>
        <div class="row mt-2">
            <div class="form-group col-sm-4">
                <label for="dni" class="input-label">DNI</label>
                <input type="text" class="form-control" name="dni" [(ngModel)]="empleado.dni">
            </div>
            <div class="form-group col-sm-4">
                <label for="fechaNacimiento" class="input-label">Fecha de Nacimiento</label>
                <input type="text" class="form-control" name="fechaNacimiento" [(ngModel)]="empleado.fechaNacimiento">
            </div>
            <div class="form-group col-sm-4">
                <label for="celular" class="input-label">Nro. Celular</label>
                <input type="text" class="form-control" name="celular" [(ngModel)]="empleado.celular">
            </div>
        </div>
        <div class="row mt-2">
        <div class="form-group col-sm-6">
            <label for="domicilio" class="input-label">Domicilio del empleado</label>
            <input type="text" class="form-control" name="domicilio" [(ngModel)]="empleado.domicilio">
        </div>
        <div class="form-group col-sm-6">
            <label for="sexo" class="input-label">Sexo</label>
                    <div class="col-sm-12">
                        <select [(ngModel)]="empleado.sexo" class="form-control" name="sexo">
                            <option [ngValue]="undefined">--- Seleccionar sexo ---</option>
                            <option *ngFor="let s of sexo" [ngValue]="s">{{s}}</option>
                        </select>
                    </div>
        </div>

        </div>

        <div class=" mt-3">
            <button class="btn btn-xs" style="background-color: #164e85 ;border-color: #164e85 ;color: #fff;" (click)="crear()">Crear matrícula</button>
        </div>
        
    </div>
    
</div>