<h4>Lista de clases</h4>
<button class="btn" [routerLink]="['form']">Crear Clase</button>

<div class="card mt-2">
  <h5>Clases disponibles</h5>
  <div class="card-body">
    <div class="row row-cols-1 row-cols-md-3">
      <div class="col" *ngFor="let clase of clases">
        <div class="card mb-2">
          <div class="card-header text-white">
            {{ clase.nombre }}
          </div>
          <ul class="list-group list-group-flush">
            <div class="row p-3">
              <div class="col-md-12">
                {{ clase.aula?.nombre }} {{ clase.aula?.seccion }}
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
