<div class="container">

    <ul class="alert alert-danger" *ngIf="errores?.length > 0">
        <li *ngFor="let error of errores" class="ms-4">{{ error }}</li>
    </ul>


    <div class="card " style="background-color: #f8f9fa;">
        <div class="card-header">Registro de estudiantes</div>
        <h4 class="card-title">
            <a [routerLink]="['/']" class="btn btn-light">&laquo; regresar</a>
        </h4>
        
        <div class="card-body">
            <form>
                <div class="form-group row mb-2">
                    <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" [(ngModel)]="estudiante.nombres" name="nombre">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="apellidoP" class="col-form-label col-sm-2">Apellido Paterno</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" [(ngModel)]="estudiante.apellidoPaterno" name="apellidoP">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="apellidoM" class="col-form-label col-sm-2">Apellido Materno</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" [(ngModel)]="estudiante.apellidoMaterno" name="apellidoM">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="fechaNacimiento" class="col-form-label col-sm-2">Fecha de Nacimiento</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" [(ngModel)]="estudiante.fechaNacimiento" name="fechaNacimiento">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="dni" class="col-form-label col-sm-2">DNI</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" [(ngModel)]="estudiante.dni" name="dni">
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label for="sexo" class="col-form-label col-sm-2">Sexo</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" [(ngModel)]="estudiante.sexo" name="sexo">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-8">
                        <button *ngIf="!estudiante.id" class="btn btn-primary" (click)="crear()">Crear</button>
                        <button *ngIf="estudiante.id" class="btn btn-primary" (click)="actualizar()">Actualizar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>