
    <ul class="alert alert-danger" *ngIf="errores?.length > 0">
        <li *ngFor="let error of errores" class="ms-4">{{ error }}</li>
    </ul>


    <div class="card">
        <div class="card-header">Registro de estudiantes</div>
        <h4 class="card-title">
            <a [routerLink]="['/dashboard/estudiantes']" class="btn btn-light">&laquo; regresar</a>
        </h4>
        
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="nombres" class="input-label">Nombres</label>
                        <input type="text" class="form-control" name="nombres" [(ngModel)]="estudiante.nombres">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="apellidoPaterno" class="input-label">Apellido Paterno</label>
                        <input type="text" class="form-control" name="apellidoPaterno" [(ngModel)]="estudiante.apellidoPaterno">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="apellidoMaterno" class="input-label">Apellido Materno</label>
                        <input type="text" class="form-control" name="apellidoMaterno" [(ngModel)]="estudiante.apellidoMaterno">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="form-group col-sm-4">
                        <label for="dni" class="input-label">DNI</label>
                        <input type="text" class="form-control" name="dni" [(ngModel)]="estudiante.dni">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="fechaNacimiento" class="input-label">Fecha de Nacimiento</label>
                        <input type="text" class="form-control" name="fechaNacimiento" [(ngModel)]="estudiante.fechaNacimiento">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="celular" class="input-label">Nro. Celular</label>
                        <input type="text" class="form-control" name="celular" [(ngModel)]="estudiante.celular">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="form-group col-sm-4">
                        <label for="sexo" class="input-label">Sexo</label>
                        <input type="text" class="form-control" name="sexo" [(ngModel)]="estudiante.sexo">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="correo" class="input-label">Correo</label>
                        <input type="text" class="form-control" name="correo" [(ngModel)]="estudiante.correo">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="aula" class="input-label">Aula</label>
                        <div>
                            <select [compareWith]="compararAula" [(ngModel)]="estudiante.aulaEstudiante" class="form-control" name="aula">
                                <option [ngValue]="undefined">--- Seleccionar una aula ---</option>
                                <option *ngFor="let aula of aulas" [ngValue]="aula">{{ aula.nombre }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                <div class="form-group">
                    <label for="domicilio" class="input-label">Domicilio del estudiante</label>
                    <input type="text" class="form-control" name="domicilio" [(ngModel)]="estudiante.domicilio">
                </div>
                </div>
                <!-- <div class="form-group row mb-2">
                    <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" [(ngModel)]="estudiante.nombres" name="nombre">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="apellidoP" class="col-form-label col-sm-2">Apellido Paterno</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" [(ngModel)]="estudiante.apellidoPaterno" name="apellidoP">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="apellidoM" class="col-form-label col-sm-2">Apellido Materno</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" [(ngModel)]="estudiante.apellidoMaterno" name="apellidoM">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="fechaNacimiento" class="col-form-label col-sm-2">Fecha de Nacimiento</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" [(ngModel)]="estudiante.fechaNacimiento" name="fechaNacimiento">
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label for="dni" class="col-form-label col-sm-2">DNI</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" [(ngModel)]="estudiante.dni" name="dni">
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <label for="sexo" class="col-form-label col-sm-2">Sexo</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" [(ngModel)]="estudiante.sexo" name="sexo">
                    </div>
                </div> -->



                <div class="form-group row">
                    <div class="col-sm-8">
                        <button *ngIf="!estudiante.id" class="btn" (click)="crear()">Crear</button>
                        <button *ngIf="estudiante.id" class="btn mt-3" style="background-color: #164e85; border-color: #164e85; color: #fff;"
                           (click)="actualizar()">Actualizar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>