
    <div class="container-dashboard">

      <div id="sidebar">
        <div  >
          <ul class="nav flex-column hover px-0 mx-0 ul">
            <li class="logo px-4 py-3 d-flex flex-row li" (click)="mostrarDashboard()" >
              <div class="col-12">
                <i class="fas fa-atom"></i>
                <span style="font-weight: 500; margin-left: 10px;">School Managment</span>
              </div>
            </li>
            <li class="nav-item px-4 py-3 mt-3 d-flex flex-row li" (click)="mostrarDashboard()" style="cursor: pointer;">

              <div class="col-9 ">
                <span class="">Dashboard</span>
              </div>
              <div class="col-3">
                <span class="me-4"><i class="fas fa-tachometer-alt"></i></span>
              </div>
            </li>
            <li class="nav-item px-4 py-3 d-flex flex-row li" (click)="mostrarEstudiantes()" style="cursor: pointer;">

              <div class="col-9 ">
                <span class="col-sm-8">Estudiantes</span>
              </div>
              <div class="col-3">
                <span class="me-4 col-sm-4"><i class="fas fa-child"></i></span>
              </div>
            </li>
            <li class="nav-item px-4 py-3 d-flex flex-row li" (click)="mostrarEmpleados()" style="cursor: pointer;">

              <div class="col-9">
                <span class="">Empleados</span>
              </div>
              <div class="col-3">
                <span class="me-4"><i class="fas fa-chalkboard-teacher"></i></span>
              </div>
            </li>
            <li class="nav-item px-4 py-3 d-flex flex-row li" (click)="mostrarAulas()" style="cursor: pointer;">
              <div class="col-9">
                <span class="">Aulas</span>
              </div>
              <div class="col-3">
                <span class="me-4"><i class="fas fa-school"></i></span>
              </div>
            </li>
            <li class="nav-item px-4 py-3 d-flex flex-row li" (click)="mostrarCursos()" style="cursor: pointer;">
              <div class="col-9">
                <span >Cursos</span>
              </div>
              <div class="col-3">
                <span class="me-4"><i class="fas fa-book"></i></span>
              </div>
            </li>
            <li class="nav-item px-4 py-3 d-flex flex-row li" (click)="mostrarGrados()" style="cursor: pointer;">

              <div class="col-9">
                <span class="">Grados</span>
              </div>
              <div class="col-3">
                <span class="me-4"><i class="fas fa-chalkboard"></i></span>
              </div>
            </li>
  
          </ul>
        </div>
      </div>
      <div id="dashboard">
        <div *ngIf="reporte && adminActivo && !profesorActivo" class="dashboard-content">
          <div class="admin">
            Admin Dashboard 
          </div>
          <div class="cards">
            <div class="card-item estudiante">
              <div class="card-left">
                <div class="title">Estudiantes</div>
                <div class="info">250</div>
              </div>
              <div class="card-right">
                <i class="fas fa-child fa-3x"></i>
              </div>
            </div>
            <div class="card-item profesor">
              <div class="card-left">
                <div class="title">Profesores</div>
                <div class="info">20</div>
              </div>
              <div class="card-right">
                <i class="fas fa-chalkboard-teacher fa-3x"></i>
              </div>
            </div>
            <div class="card-item aula">
              <div class="card-left">
                <div class="title">Aulas</div>
                <div class="info">25</div>
              </div>
              <div class="card-right">
                <i class="fas fa-school fa-3x"></i>
              </div>
            </div>
            <div class="card-item cursos">
              <div class="card-left">
                <div class="title">Estudiantes</div>
                <div class="info">250</div>
              </div>
              <div class="card-right">
                <i class="fas fa-child fa-3x"></i>
              </div>
            </div>
            
          </div>
          <div class="charts">


            <div class="line-chart">
              <!-- <div class="chart-title d-flex justify-content-between">
                <span class="col-3">Gráfica de aulas</span>
                <div class="d-flex justify-content-evenly col-8 col-sm-6">
                  <div class="col-4">
                    <select  [(ngModel)]="cursoId" class="form-control" name="cursoId">
                        <option [ngValue]="undefined">- Elija Curso -</option>
                        <option *ngFor="let curso of cursos" [ngValue]="curso.id">{{curso.nombre}}</option>
                    </select>
                </div>
                <div class="col-4">
                  <select  [(ngModel)]="gradoId" class="form-control" name="gradoId">
                      <option [ngValue]="undefined">Todos los grados</option>
                      <option *ngFor="let grado of grados" [ngValue]="grado.id">{{grado.nombre}}</option>
                  </select>
              </div>
              <button (click)="loadDataChart()" class="btn btn-outline-success"><i class="fas fa-search"></i></button>
              
              <div class="chart-data">
                <app-line-chart [events]="eventsSubject.asObservable()"></app-line-chart>
              </div>
              
              </div> -->
              <div class="chart-title d-flex justify-content-between">
                <span class="col-4">Gráfica de aulas</span>
                <div class="d-flex justify-content-evenly col-xl-6 col-xxl-7 col-sm-8">
                  <div class="col-4">
                    <select  [(ngModel)]="cursoId" class="form-control" name="cursoId">
                        <option [ngValue]="undefined">- Elija Curso -</option>
                        <option *ngFor="let curso of cursos" [ngValue]="curso.id">{{curso.nombre}}</option>
                    </select>
                    
                  </div>
                  <div class="col-4">
                    <select  [(ngModel)]="gradoId" class="form-control" name="gradoId">
                        <option [ngValue]="undefined">Todos los grados</option>
                        <option *ngFor="let grado of grados" [ngValue]="grado.id">{{grado.nombre}}</option>
                    </select>
                  </div>
                  <button (click)="loadDataChart()" class="btn btn-outline-success"><i class="fas fa-search"></i></button>
                  <button (click)="loadDataChart()" class="btn btn-primary"><i class="fas fa-file-download"></i></button>
                </div>
              </div>
              <hr>
              <div class="chart-data">
                <app-line-chart [events]="eventsSubject.asObservable()"></app-line-chart>
              </div>
            </div>













            <div class="pie-chart">
              <div class="chart-title">
                <span>Gráfica de asistencias</span>
              </div>
              <hr>
              <div class="chart-data">
                <app-pie-chart ></app-pie-chart>
              </div>
            </div>
          </div>

        </div>
  
        
      <div *ngIf="profesorActivo" class="p-4">

        <div class="card mt-2">
  
          <div class="card-body">
            <h5>Clases asignadas</h5>
          <hr>
            <div class="row row-cols-1 row-cols-md-3">
              <div class="col" *ngFor="let clase of clases">
                <div>
                  <ul class="list-group list-group-flush">
                    <div class="row p-3">
                      <ul class="list-group px-2">
                        <li class="list-group-item list-group-item-primary"><span>{{clase.curso.nombre}}</span></li>
                        <li class="list-group-item list-group-item-light"><span>Aula: </span><span>{{clase.aula.nombre}}{{clase.aula.seccion}}</span></li>
                        <li class="list-group-item list-group-item-light" ><span>Profesor: </span><span>{{clase.empleado.nombres}} {{clase.empleado.apellidoPaterno}}</span></li>
                        <a  style="text-decoration: none; color: inherit;">
                          <li class="list-group-item list-group-item-success text-center" (click)="irClase(clase)" style="cursor: pointer;">Ver clase</li>
                        </a>
                      </ul>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
        
        <div *ngIf="!reporte" class="px-4 pt-3 dashboard pb-5">
          <router-outlet (parentFunction)="parentFunction($event)"></router-outlet>
        </div>
      </div>






      </div>