
    <div class="container-dashboard">

      <div id="sidebar">
        <div  >
          <ul class="nav flex-column hover px-0 mx-0">
            <li class="logo px-4 py-3 d-flex flex-row" (click)="mostrarDashboard()" >
              <div class="col-12">
                <i class="fas fa-atom"></i>
                <span style="font-weight: 500; margin-left: 10px;">School Managment</span>
              </div>
            </li>
            <li class="nav-item px-4 py-3 mt-3 d-flex flex-row" (click)="mostrarDashboard()" style="cursor: pointer;">

              <div class="col-9 ">
                <span class="">Dashboard</span>
              </div>
              <div class="col-3">
                <span class="me-4"><i class="fas fa-tachometer-alt"></i></span>
              </div>
            </li>
            <li class="nav-item px-4 py-3 d-flex flex-row" (click)="mostrarEstudiantes()" style="cursor: pointer;">

              <div class="col-9 ">
                <span class="col-sm-8">Estudiantes</span>
              </div>
              <div class="col-3">
                <span class="me-4 col-sm-4"><i class="fas fa-child"></i></span>
              </div>
            </li>
            <li class="nav-item px-4 py-3 d-flex flex-row" (click)="mostrarEmpleados()" style="cursor: pointer;">

              <div class="col-9">
                <span class="">Empleados</span>
              </div>
              <div class="col-3">
                <span class="me-4"><i class="fas fa-chalkboard-teacher"></i></span>
              </div>
            </li>
            <li class="nav-item px-4 py-3 d-flex flex-row" (click)="mostrarAulas()" style="cursor: pointer;">
              <div class="col-9">
                <span class="">Aulas</span>
              </div>
              <div class="col-3">
                <span class="me-4"><i class="fas fa-school"></i></span>
              </div>
            </li>
            <li class="nav-item px-4 py-3 d-flex flex-row" (click)="mostrarCursos()" style="cursor: pointer;">
              <div class="col-9">
                <span >Cursos</span>
              </div>
              <div class="col-3">
                <span class="me-4"><i class="fas fa-book"></i></span>
              </div>
            </li>
            <li class="nav-item px-4 py-3 d-flex flex-row" (click)="mostrarGrados()" style="cursor: pointer;">

              <div class="col-9">
                <span class="">Grados</span>
              </div>
              <div class="col-3">
                <span class="me-4"><i class="fas fa-chalkboard"></i></span>
              </div>
            </li>
  
          </ul>
        </div>
      </div>
      <div id="dashboard">
        <div *ngIf="reporte" class="dashboard-content">
          <div class="admin">
            Admin Dashboard 
          </div>
          <div class="cards">
            <div class="card-item estudiante">
              <div class="card-left">
                <div class="title">Estudiantes</div>
                <div class="info">250</div>
              </div>
              <div class="card-right">
                <i class="fas fa-child fa-3x"></i>
              </div>
            </div>
            <div class="card-item profesor">
              <div class="card-left">
                <div class="title">Profesores</div>
                <div class="info">20</div>
              </div>
              <div class="card-right">
                <i class="fas fa-chalkboard-teacher fa-3x"></i>
              </div>
            </div>
            <div class="card-item aula">
              <div class="card-left">
                <div class="title">Aulas</div>
                <div class="info">25</div>
              </div>
              <div class="card-right">
                <i class="fas fa-school fa-3x"></i>
              </div>
            </div>
            <div class="card-item cursos">
              <div class="card-left">
                <div class="title">Estudiantes</div>
                <div class="info">250</div>
              </div>
              <div class="card-right">
                <i class="fas fa-child fa-3x"></i>
              </div>
            </div>
            
          </div>
          <div class="charts">
            <div class="line-chart">
              <div class="chart-title">Line Chart</div>
              <hr>
              <div class="chart-data">
                <app-line-chart></app-line-chart>
              </div>
            </div>
            <div class="pie-chart">
              <div class="chart-title">Pie Chart</div>
              <hr>
              <div class="chart-data">
                <app-pie-chart></app-pie-chart>
              </div>
            </div>
          </div>

        </div>
  
        
      <div *ngIf="!profesorActivo" class="p-4">

        <div class="card mt-2">
  
          <div class="card-body">
            <h5>Clases asignadas</h5>
          <hr>
            <div class="row row-cols-1 row-cols-md-3">
              <div class="col">
                <div>
                  <ul class="list-group list-group-flush">
                    <div class="row p-3">
                      <ul class="list-group px-2">
                        <li class="list-group-item list-group-item-primary"><span>Matemática</span></li>
                        <li class="list-group-item list-group-item-light"><span>Aula: </span><span>P1GS1</span></li>
                        <li class="list-group-item list-group-item-light" ><span>Profesor: </span><span>ANDERSON BENGOLEA</span></li>
                        <a  style="text-decoration: none; color: inherit;">
                          <li class="list-group-item list-group-item-success text-center">Ver clase</li>
                        </a>
                      </ul>
                    </div>
                  </ul>
                </div>
              </div>
              <div class="col">
                <div>
                  <ul class="list-group list-group-flush">
                    <div class="row p-3">
                      <ul class="list-group px-2">
                        <li class="list-group-item list-group-item-primary"><span>Matemática</span></li>
                        <li class="list-group-item list-group-item-light"><span>Aula: </span><span>P2GS1</span></li>
                        <li class="list-group-item list-group-item-light" ><span>Profesor: </span><span>ANDERSON BENGOLEA</span></li>
                        <a  style="text-decoration: none; color: inherit;">
                          <li class="list-group-item list-group-item-success text-center">Ver clase</li>
                        </a>
                      </ul>
                    </div>
                  </ul>
                </div>
              </div>
              <div class="col">
                <div>
                  <ul class="list-group list-group-flush">
                    <div class="row p-3">
                      <ul class="list-group px-2">
                        <li class="list-group-item list-group-item-primary"><span>Matemática</span></li>
                        <li class="list-group-item list-group-item-light"><span>Aula: </span><span>P3GS1</span></li>
                        <li class="list-group-item list-group-item-light" ><span>Profesor: </span><span>ANDERSON BENGOLEA</span></li>
                        <a  style="text-decoration: none; color: inherit;">
                          <li class="list-group-item list-group-item-success text-center">Ver clase</li>
                        </a>
                      </ul>
                    </div>
                  </ul>
                </div>
              </div>
              <div class="col">
                <div>
                  <ul class="list-group list-group-flush">
                    <div class="row p-3">
                      <ul class="list-group px-2">
                        <li class="list-group-item list-group-item-primary"><span>Matemática</span></li>
                        <li class="list-group-item list-group-item-light"><span>Aula: </span><span>P4GS1</span></li>
                        <li class="list-group-item list-group-item-light" ><span>Profesor: </span><span>ANDERSON BENGOLEA</span></li>
                        <a  style="text-decoration: none; color: inherit;">
                          <li class="list-group-item list-group-item-success text-center">Ver clase</li>
                        </a>
                      </ul>
                    </div>
                  </ul>
                </div>
              </div>
              <div class="col">
                <div>
                  <ul class="list-group list-group-flush">
                    <div class="row p-3">
                      <ul class="list-group px-2">
                        <li class="list-group-item list-group-item-primary"><span>Matemática</span></li>
                        <li class="list-group-item list-group-item-light"><span>Aula: </span><span>P5GS1</span></li>
                        <li class="list-group-item list-group-item-light" ><span>Profesor: </span><span>ANDERSON BENGOLEA</span></li>
                        <a  style="text-decoration: none; color: inherit;">
                          <li class="list-group-item list-group-item-success text-center">Ver clase</li>
                        </a>
                      </ul>
                    </div>
                  </ul>
                </div>
              </div>
              <div class="col">
                <div>
                  <ul class="list-group list-group-flush">
                    <div class="row p-3">
                      <ul class="list-group px-2">
                        <li class="list-group-item list-group-item-primary"><span>Matemática</span></li>
                        <li class="list-group-item list-group-item-light"><span>Aula: </span><span>P6GS1</span></li>
                        <li class="list-group-item list-group-item-light" ><span>Profesor: </span><span>ANDERSON BENGOLEA</span></li>
                        <a  style="text-decoration: none; color: inherit;">
                          <li class="list-group-item list-group-item-success text-center">Ver clase</li>
                        </a>
                      </ul>
                    </div>
                  </ul>
                </div>
              </div>
              <div class="col">
                <div>
                  <ul class="list-group list-group-flush">
                    <div class="row p-3">
                      <ul class="list-group px-2">
                        <li class="list-group-item list-group-item-primary"><span>Matemática</span></li>
                        <li class="list-group-item list-group-item-light"><span>Aula: </span><span>P2GS2</span></li>
                        <li class="list-group-item list-group-item-light" ><span>Profesor: </span><span>ANDERSON BENGOLEA</span></li>
                        <a  style="text-decoration: none; color: inherit;">
                          <li class="list-group-item list-group-item-success text-center">Ver clase</li>
                        </a>
                      </ul>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
        
        <div *ngIf="!reporte" class="px-4 pt-3 dashboard pb-5">
          <router-outlet></router-outlet>
        </div>
      </div>






      </div>