
<h5>Marcar asistencia</h5>
<h4 class="card-title">
  <a *ngIf="!idClase" [routerLink]="[ '/dashboard/aulas',idAula,'clases' ]" class="btn btn-light">&laquo; regresar</a>
  <a *ngIf="idClase" [routerLink]="[ '/dashboard/aulas',idAula,'clases',idClase ]" class="btn btn-light">&laquo; regresar</a>
</h4>
<hr>
    <table class="table">
      <thead>
        <tr>
          <th>
            Nombres y Apellidos
          </th>
          <th>
            Asistencia
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let estudiante of estudiantes">
          <td>{{estudiante.nombres}} {{ estudiante.apellidoPaterno }} {{ estudiante.apellidoMaterno }}</td>
          <td>
            <div class="d-flex">
              <div class="form-check">
                <input class="form-check-input" type="radio" (click)="asistencia(estudiante,'PUNTUAL')"  name="asistencia{{estudiante.id}}falta" id="asistencia{{estudiante.id}}puntual" [checked]="estudiante.asistenciaHoy == 'PUNTUAL'">
                <label class="form-check-label text-primary">
                  PUNTUAL
                </label>
              </div>
              <div class="form-check mx-3">
                <input class="form-check-input" type="radio" (click)="asistencia(estudiante,'TARDANZA')"  name="asistencia{{estudiante.id}}falta" id="asistencia{{estudiante.id}}tarde" [checked]="estudiante.asistenciaHoy == 'TARDANZA'" >
                <label class="form-check-label text-warning">
                  TARDANZA
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" (click)="asistencia(estudiante,'FALTA')"  name="asistencia{{estudiante.id}}falta" id="asistencia{{estudiante.id}}falta" [checked]="estudiante.asistenciaHoy == 'FALTA'">
                <label class="form-check-label text-danger" >
                  FALTA
                </label>
              </div>
            </div>
            
          </td>
        </tr>
      </tbody>
    </table>

    <button class="btn btn-primary" (click)="cargarAsistencia()" >Guardar Asistencia</button>